.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.zipcode{
  text-align:center;
}

.user-input{
  text-align:center;
  padding: 20px;
}


input[type=text] {
  border: 2px solid black;
  border-radius: 4px;
}